@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #242333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: 
}

.movie-container select {
    background-color: white;
    border: 0;
    border-radius: 5px;
}